@import "tailwindcss";

@theme {
  --font-mono: 'Chivo Mono', monospace;
  --color-primary: #FFFA80;
  --color-primary-hover: #FDF420;
  --color-secondary: #ffffff;
}

::-moz-selection {
  color: black;
  background: white;
}

::selection {
  color: black;
  background: white;
}
